image: ubuntu:24.04

stages:
  - mirror-github

mirror_github:
  stage: mirror-github
  image:
    name: alpine/git:latest
    entrypoint: [""]
  before_script: []
  script:
    - git remote remove github || true
    - git remote add github https://$GITHUB_USERNAME:$GITHUB_TOKEN@github.com/$GITHUB_USERNAME/Azure-Functions-Performance.git
    - git fetch --prune --tags origin
    - git push --force github HEAD:main
    - git push --tags github
  only:
    - main
    - master
